<div class="slots">
    <div
            class="next-indicator"
            [class.turn]="isTurn()"
            [class.red]="character().team === 'red'"
            [style.--indicator-offset]="nextSlotOffset()"
            aria-hidden="true"
    ></div>
    @for (slot of character().slots; track $index) {
        <div class="slot" [class.turn]="isTurn()" [class.next]="isNext($index)" [class.red]="character().team === 'red'">
            <div>{{ $index + 1 }}</div>
            <div>{{ slot?.name ?? 'Empty' }}</div>
        </div>
    }
</div>
<div class="info">
    <div class="stats">
        <div class="name">{{ character().kind | uppercase }}</div>
        <div class="health">Health: <span>{{ character().hp | health }}</span></div>
    </div>
</div>

<!-- TODO action picker logic should be centralized -->