:host {
  display: grid;
  place-items: center;
  min-width: 0;
  aspect-ratio: 1;
  box-sizing: border-box;
  background: #eaeaea;

  &:nth-child(odd) {
    background: #dadada;
  }

  &.effect {
    &--movable {
      background: #ddf4ff;
      border: 2px dotted #0969da;
    }
  }
}