<nou-character-display
        placement="top"
        [character]="store.redPlayer()"
        [isTurn]="store.state().activeTeam === 'red'"
        [turn]="store.state().turn"
/>
<nou-grid/>
<nou-character-display
        placement="bottom"
        [character]="store.bluePlayer()"
        [isTurn]="store.state().activeTeam === 'blue'"
        [turn]="store.state().turn"
/>
<!--<nou-countdown-->
<!--        [currentStep]="store.state().turnTimeRemaining() - 1"-->
<!--        [totalSteps]="5"-->
<!--        [theme]="store.state().activeTeam"-->
<!--/>-->