<nou-character-display
        [character]="store.redPlayer()"
        [isTurn]="store.state().activeTeam === 'red'"
        [turn]="store.state().turn"
/>
<nou-grid
        [width]="store.state().width"
        [height]="store.state().height"
        [entities]="store.entities()"
        [tileEffects]="store.tileEffectIndex()"
/>
<nou-character-display
        [character]="store.bluePlayer()"
        [isTurn]="store.state().activeTeam === 'blue'"
        [turn]="store.state().turn"
/>
<!--<nou-countdown-->
<!--        [currentStep]="store.state().turnTimeRemaining() - 1"-->
<!--        [totalSteps]="5"-->
<!--        [theme]="store.state().activeTeam"-->
<!--/>-->